### Assignment-02

1. What is the distribution of accident severity levels?

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
file_path = "/content/drive/MyDrive/Road_Accident_Aalysis_project/US_Accidents_March23.csv"

In [ ]:
import pandas as pd

df = pd.read_csv(file_path,nrows=1000000, usecols=["Severity"])
severity_counts =df["Severity"].value_counts().sort_index()
severity_percent = severity_counts / severity_counts.sum() * 100

print("Counts:\n", severity_counts)
print("Percentages:\n", severity_percent)

Counts:
 Severity
1     38381
2    606235
3    352187
4      3197
Name: count, dtype: int64
Percentages:
 Severity
1     3.8381
2    60.6235
3    35.2187
4     0.3197
Name: count, dtype: float64

2. How is the accident frequency distributed by hour of the day?

In [ ]:
df = pd.read_csv(file_path, nrows=1000000, usecols=["Start_Time"], parse_dates=["Start_Time"])
df["hour"] = df["Start_Time"].dt.hour
accedents_per_hour=df['hour'].value_counts()
print("\nAccedents Per day",accedents_per_hour)

Accedents Per day hour
8     103530
7      98288
17     67836
16     65979
6      62841
9      57916
18     57178
10     52767
11     51330
15     50070
14     44333
19     42233
12     41558
13     40766
5      32816
20     31740
4      27365
21     21594
22     16678
23      7314
0       7072
2       6844
3       6359
1       5593
Name: count, dtype: int64

3. Which days of the week have the highest number of accidents?

In [ ]:
df = pd.read_csv(file_path, nrows=1000000, usecols=["Start_Time"])
# Converting  to datetime
df["Start_Time"] = pd.to_datetime(df["Start_Time"])
df["weekday"] = df["Start_Time"].dt.day_name()
day_count = df["weekday"].value_counts()

print("Accident counts by day of week:\n", day_count)

Accident counts by day of week:
 weekday
Wednesday    184092
Thursday     183382
Tuesday      180425
Friday       176977
Monday       170123
Saturday      55423
Sunday        49578
Name: count, dtype: int64

4. What are the most common weather conditions during accidents?

In [ ]:
df = pd.read_csv(file_path, nrows=1000000, usecols=["Weather_Condition"])

weather_counts = df["Weather_Condition"].value_counts().head(10)

print("Top 10 Weather Conditions during Accidents:\n", weather_counts)

Top 10 Weather Conditions during Accidents:
 Weather_Condition
Fair                237311
Clear               208905
Mostly Cloudy       134344
Partly Cloudy        93409
Overcast             80265
Cloudy               69424
Scattered Clouds     47595
Light Rain           41845
Fog                  10837
Haze                  9960
Name: count, dtype: int64

5. How to identify columns with missing data and their missing percentage?

In [ ]:
df = pd.read_csv(file_path, nrows=1000000)
missing_counts = df.isnull().sum()

# Calculating missing percentages
missing_percentage = (missing_counts / len(df)) * 100
missing_data = pd.DataFrame({
    "Missing Values": missing_counts,
    "Missing percentage": missing_percentage
})

print("\ncolumns with missing data ",missing_data.head(10))

columns with missing data                Missing Values  Missing percentage
ID                         0                 0.0
Source                     0                 0.0
Severity                   0                 0.0
Start_Time                 0                 0.0
End_Time                   0                 0.0
Start_Lat                  0                 0.0
Start_Lng                  0                 0.0
End_Lat              1000000               100.0
End_Lng              1000000               100.0
Distance(mi)               0                 0.0

6. How to impute missing numerical values with median?

In [ ]:
df.fillna(df.median(numeric_only=True), inplace=True)
print("\n missing numerical values with median",df.head())

 missing numerical values with median     ID   Source  Severity           Start_Time             End_Time  \
0  A-1  Source2         3  2016-02-08 05:46:00  2016-02-08 11:00:00
1  A-2  Source2         2  2016-02-08 06:07:59  2016-02-08 06:37:59
2  A-3  Source2         2  2016-02-08 06:49:27  2016-02-08 07:19:27
3  A-4  Source2         3  2016-02-08 07:23:34  2016-02-08 07:53:34
4  A-5  Source2         2  2016-02-08 07:39:07  2016-02-08 08:09:07

   Start_Lat  Start_Lng  End_Lat  End_Lng  Distance(mi)  ... Roundabout  \
0  39.865147 -84.058723      NaN      NaN          0.01  ...      False
1  39.928059 -82.831184      NaN      NaN          0.01  ...      False
2  39.063148 -84.032608      NaN      NaN          0.01  ...      False
3  39.747753 -84.205582      NaN      NaN          0.01  ...      False
4  39.627781 -84.188354      NaN      NaN          0.01  ...      False

  Station   Stop Traffic_Calming Traffic_Signal Turning_Loop Sunrise_Sunset  \
0   False  False           False          False        False          Night
1   False  False           False          False        False          Night
2   False  False           False           True        False          Night
3   False  False           False          False        False          Night
4   False  False           False           True        False            Day

  Civil_Twilight Nautical_Twilight Astronomical_Twilight
0          Night             Night                 Night
1          Night             Night                   Day
2          Night               Day                   Day
3            Day               Day                   Day
4            Day               Day                   Day

[5 rows x 46 columns]

7. How to impute missing categorical values with the mode?

In [ ]:
df.fillna(df.mode().iloc[0], inplace=True)

print("\nMissing categorical values filled with mode:")
print(df.head())

Missing categorical values filled with mode:
    ID   Source  Severity           Start_Time             End_Time  \
0  A-1  Source2         3  2016-02-08 05:46:00  2016-02-08 11:00:00
1  A-2  Source2         2  2016-02-08 06:07:59  2016-02-08 06:37:59
2  A-3  Source2         2  2016-02-08 06:49:27  2016-02-08 07:19:27
3  A-4  Source2         3  2016-02-08 07:23:34  2016-02-08 07:53:34
4  A-5  Source2         2  2016-02-08 07:39:07  2016-02-08 08:09:07

   Start_Lat  Start_Lng  End_Lat  End_Lng  Distance(mi)  ... Roundabout  \
0  39.865147 -84.058723      NaN      NaN          0.01  ...      False
1  39.928059 -82.831184      NaN      NaN          0.01  ...      False
2  39.063148 -84.032608      NaN      NaN          0.01  ...      False
3  39.747753 -84.205582      NaN      NaN          0.01  ...      False
4  39.627781 -84.188354      NaN      NaN          0.01  ...      False

  Station   Stop Traffic_Calming Traffic_Signal Turning_Loop Sunrise_Sunset  \
0   False  False           False          False        False          Night
1   False  False           False          False        False          Night
2   False  False           False           True        False          Night
3   False  False           False          False        False          Night
4   False  False           False           True        False            Day

  Civil_Twilight Nautical_Twilight Astronomical_Twilight
0          Night             Night                 Night
1          Night             Night                   Day
2          Night               Day                   Day
3            Day               Day                   Day
4            Day               Day                   Day

[5 rows x 46 columns]

8. How to label encode a categorical column?

In [ ]:
df['Civil_Twilight_Encoded'] = df['Civil_Twilight'].astype('category').cat.codes
print("\nLabel Encoded 'Civil_Twilight' column:")
print(df[['Civil_Twilight', 'Civil_Twilight_Encoded']])

Label Encoded 'Civil_Twilight' column:
       Civil_Twilight  Civil_Twilight_Encoded
0               Night                       1
1               Night                       1
2               Night                       1
3                 Day                       0
4                 Day                       0
...               ...                     ...
999995          Night                       1
999996          Night                       1
999997          Night                       1
999998          Night                       1
999999          Night                       1

[1000000 rows x 2 columns]

9. How to one-hot encode a categorical column?

In [ ]:
import pandas as pd
df_encoded = pd.get_dummies(df,columns=['City'], drop_first=False)
print("\nOne-hot encoded dataset:")
print(df_encoded.head())

One-hot encoded dataset:
    ID   Source  Severity           Start_Time             End_Time  \
0  A-1  Source2         3  2016-02-08 05:46:00  2016-02-08 11:00:00
1  A-2  Source2         2  2016-02-08 06:07:59  2016-02-08 06:37:59
2  A-3  Source2         2  2016-02-08 06:49:27  2016-02-08 07:19:27
3  A-4  Source2         3  2016-02-08 07:23:34  2016-02-08 07:53:34
4  A-5  Source2         2  2016-02-08 07:39:07  2016-02-08 08:09:07

   Start_Lat  Start_Lng  End_Lat  End_Lng  Distance(mi)  ... City_Zephyr Cove  \
0  39.865147 -84.058723      NaN      NaN          0.01  ...            False
1  39.928059 -82.831184      NaN      NaN          0.01  ...            False
2  39.063148 -84.032608      NaN      NaN          0.01  ...            False
3  39.747753 -84.205582      NaN      NaN          0.01  ...            False
4  39.627781 -84.188354      NaN      NaN          0.01  ...            False

  City_Zephyrhills City_Zieglerville City_Zimmerman City_Zion City_Zionsville  \
0            False             False          False     False           False
1            False             False          False     False           False
2            False             False          False     False           False
3            False             False          False     False           False
4            False             False          False     False           False

  City_Zirconia City_Zolfo Springs City_Zumbro Falls  City_Zumbrota
0         False              False             False          False
1         False              False             False          False
2         False              False             False          False
3         False              False             False          False
4         False              False             False          False

[5 rows x 8787 columns]